
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Playwrite DE Grund", cursive; 
  }
h1{
    text-align: center;
    color: rgb(214, 55, 55);
}
  
label {
    display: block;
    margin-bottom: 5px;
    color:rgb(229, 131, 131); 
  }
  
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
.button-form {
    font-size: 12px;
    background-color: transparent;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    color: rgb(214, 55, 55);
    border: solid 1px rgb(229, 131, 131); 
    font-family: "Playwrite DE Grund", cursive; 
    padding: 5px;
  }

.button-container{
    display: flex;
    justify-content: center;
  }

  /* Formulario */
.entrada{
    border-radius: 10px;
    border: solid 1px rgb(221, 192, 192);
  }

  /* button */
  .button-form:hover{
    background-color: rgb(191, 15, 35);
    color:white;
  }
  input:focus {
    border: 1px solid rgb(245, 32, 32);
    outline: none; 
  }

  /* tabla */

  table {
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    height: 30px;
    color: darkblue;
  }
  th {
    background-color: #3641d3;
    color: white;
  }

  .eliminar-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-eliminar{
    background-color: transparent;
    border: solid 1px transparent;
    border-radius: 6%;
    color: darkblue;
  }
  .btn-eliminar:hover{
    background-color: rgb(203, 61, 75);
    color: white;
  }
  
  .mensaje{
    color: darkblue;
    font-weight: bold;
    text-decoration: underline;
  }